{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ config.title }} - {{ page.title }}{% else %}{{ config.title }}{% endif %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <!-- Enable responsiveness on mobile devices-->
        <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

        <!-- Standard meta tags -->
        <meta name="author" content="Vedang Joshi">
        <meta name="description" content="Blog of Vedang Joshi">

        <!-- Open Graph Tags -->
        <meta property="og:site_name" content="Vedang's Blog">
        <meta property="og:title" content="Blog of Vedang Joshi">
        <meta property="og:url" content="https://vedangj044.github.io/blog/">
        <meta property="og:description" content="Welcome to my blog. I write about Technology and Science.">
        {% if page.extra.banner_path %}
        <meta property='og:image' content="{{ resize_image(path=page.extra.banner_path, width=1200, height=627, op="fill", format="auto", quality=75) }}"/>
        <meta property='og:image:width' content="1200"/>
        <meta property='og:image:height' content="627"/>
        {% endif %}
        <meta property="og:type" content="article">
        <meta property="article:author" content="https://vedangj044.github.io/">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

        <!-- Feeds -->
        {% if config.generate_feed %}<link rel="alternate" type={% if config.feed_filenames[0] == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filenames[0]) | safe }}">{% endif %}

        <!-- Google Analytics -->
        {% if config.extra.google_analytics.enabled %}<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics.id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ config.extra.google_analytics.id }}');
        </script>{% endif %}

    </head>
    
    {% if page %}<body class="single">{% else %}<body class="list">{% endif %}
    

    {% block body %}
        <header class="header">
            <nav class="nav">
                {% if page %}
                <p class="logo"><a href="{{ get_url(path="", trailing_slash=false ) }}">{{ config.title }}</a></p>
                {% else %}
                <h1 class="logo"><a href="{{ get_url(path="", trailing_slash=false ) }}">{{ config.title }}</a></h1>
                {% endif %}
                <ul class="menu">

                    {% block sidebar_nav %}
                    <li>
                        <a id = "theme-toggle" style="height: 100%; cursor: pointer;" >
                            <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path></svg>
                            <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                        </a>
                    </li> 
                    {% for link in config.extra.links %}
                        <li><a target="_blank" href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                    <script>
                        // set initial state
                        var button = document.getElementById("theme-toggle");
                        var sun = document.getElementById("sun");
                        var moon = document.getElementById("moon");
                        var key = "dark";

                        function dar() {
                            sun.style.display = "none";
                            moon.style.display = "block";
                            document.body.classList.add("dark");
                            localStorage.setItem(key, "true");
                        }

                        function li() {
                            sun.style.display = "block";
                            moon.style.display = "none";
                            document.body.classList.remove("dark");
                            localStorage.setItem(key, "false");
                        }

                        if (localStorage.getItem(key) === null) {
                            li();
                        }
                        else if (localStorage.getItem(key) === "false") {
                            li();
                        }
                        else {
                            dar();
                        }

                        button.onclick = function() {
                            if (localStorage.getItem(key) === "true") {
                                li();
                            }
                            else {
                                dar();
                            }
                        }
                    </script>
                    {% endblock sidebar_nav %}

                </ul>
            </nav>
        </header>

        <main class="main">
            {% block content %}
            <div class="posts">
                {% for page in paginator.pages %}
                {% if loop.index == 1 and paginator.current_index == 1 %}
                <article class="first-entry">{% else %}<article class="post-entry">{% endif %}
                {{ post_macros::page_in_list(page=page)}}
                </article>{% endfor %}
                <footer class="page-footer">
                    <nav class="pagination">
                        {% if paginator.previous %}<a class="prev" href="{{ paginator.previous }}">← Previous</a>{% else %}<!--Hidden Previous-Button-->{% endif %}
                        {% if paginator.next %}<a class="next" href="{{ paginator.next }}">Next →</a>{% else %}<!--Hidden Next-Button-->{% endif %}
                    </nav>
                </footer>
            </div>
            {% endblock content %}
        </main>

        <footer class="footer">
            <span>&copy; {{ now() | date(format="%Y") }} <a href="https://vedangj044.github.io/">Github</a></span>
            <span>&middot;</span>
            <span>Powered by <a href="https://www.getzola.org" rel="noopener" target="_blank">Zola</a>️</span>
            <span>&middot;</span>
            <span>Theme️ <a href="https://github.com/schoenenberg/zola-paper" rel="noopener" target="_blank">Zola-Paper</a></span>
        </footer>
    {% endblock body %}
    </body>
</html>
